
nav {
    min-height: 100vh;
    background: RGBA(0,0,17,0.63);
    text-align: center;
    padding: 15px;
    -webkit-box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
    box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1,.81,.79,.71);
    min-width: fit-content;
}


.button-menu {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

.drop-in {
  display: flex;
  background: #475469;
  padding: 5px;
  min-height: 5vh;
  min-width: 5vh;
  justify-content: center;

  font-size: larger;
  box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
}

.drop-container {
  display: flex;
  justify-content: flex-end;
}
a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    background: none;
    border: none;
    border-style: none;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 15px;
    border-radius: 4px;
    margin-top: 25px;
   
}

a:hover {
    cursor: pointer;
    background: RGBA(97,218,251,0.9);
    box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
   
}
a:active {
    background: RGBA(97,218,251,0.38);
}

.logo {
    max-height: 5vmin;
    max-width: 5vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
    padding: 5px;
    margin-top: 11px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.arrow-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: white;
  border-radius: 4px;
  min-height: 60px;
  max-width: 100%;

}

.arrow-container:hover {
  cursor: pointer;
  background: RGBA(97,218,251,0.9);
  box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);

}

.link-container {
  transition-duration: 400ms;
}
.nothidden {
  opacity: 1;
}

.hidden {
  opacity: 0
}