
nav {
    min-height: 100vh;
    min-width: 15vh;
    background: RGBA(0,0,17,0.63);
    text-align: center;
    padding: 5px;
    -webkit-box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
    box-shadow: 10px 0px 19px -3px rgba(0,0,0,0.37);
}


.button-menu {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    background: none;
    border: none;
    border-style: none;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px;
    border-radius: 4px;
    margin-top: 25px;
}

a:hover {
    cursor: pointer;
    background: RGBA(97,218,251,0.38);
   
}
a:active {
    background: RGBA(97,218,251,0.38);
    color: lightblue;

}

.logo {
    height: 15vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  